@font-face {
  font-family: 'Helvetica-Bold';
  src: url('./Assets/Fonts/Helvetica-Font/Helvetica-Bold.ttf');
}
@font-face {
  font-family: 'Helvetica-Light';
  src: url('./Assets/Fonts/Helvetica-Font/helvetica-light-587ebe5a59211.ttf');
}

@tailwind base;
@tailwind components;
@tailwind utilities;